<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<h2>회원 가입</h2>

<form id="registrationForm" method="post" action="/register">
    <div>
        <label for="userId">사용자 ID:</label><br>
        <input type="text" id="userId" name="userId"><br>
    </div>
    <div>
        <label for="password">비밀번호:</label><br>
        <input type="password" id="password" name="password"><br>
    </div>
    <div>
        <label for="name">이름:</label><br>
        <input type="text" id="name" name="name"><br>
    </div>
    <div>
        <label for="dateOfBirth">생년월일:</label><br>
        <input type="date" id="dateOfBirth" name="dateOfBirth"><br>
    </div>
    <div>
        <label for="address">주소:</label><br>
        <input type="text" id="address" name="address"><br>
    </div>
    <input type="submit" value="가입하기">
</form>

<script src="/js/register.js"></script>
</body>
</html>
